@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;  
   
}

:root
{
    --secondary: rgb(0, 204, 255);
    --primary: #ffffff;
}

